##### Without version #####
qiskit
quimb
cotengra
sparse
mqt.ddsim
mqt.bench
optuna
kahypar
networkx
matplotlib
numpy
mqt.qcec
argparse
bcolors
tabulate

numpy
pandas
future
igraph
torch
torch_geometric

##### With version    #####


